body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.blog {
  textarea {
    height: 350px;
  }
}

li {
  a.dropdown-toggle {
    color: #fff;
  }
}

.dropdown-menu {
  li {
    a {
      color: #343a40;
    }
  }
}
.dropdown-item:active {
  background-color: #f8f9fa;
}
