body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.blog {
  textarea {
    height: 350px;
  }
}

li {
  a.dropdown-toggle {
    color: #fff;
  }
}

.dropdown-menu {
  li {
    a {
      color: #343a40;
    }
  }
}
.dropdown-item:active {
  background-color: #f8f9fa;
}

.comment .title {
  font-weight: 400;
  color: #999;
  text-transform: capitalize;
}

.comment .title strong {
  display: block;
  color: #555;
}

strong {
  font-weight: 700;
}

.comment .title span.date {
  font-size: 0.8em;
  color: #999;
}

.comment .comment-body {
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.comment .comment-header .image {
  margin-right: 15px;
}

.comment .comment-header img {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
}

.add-comment {
  margin-top: 50px;
}

.add-comment header {
  margin-bottom: 30px;
}

.add-comment h3 {
  line-height: 1.1em;
  color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 1rem;
}

.add-comment h3.h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

.field_with_errors {
  border: 1px solid red;
}
